.BD {
    background: #13171f;
    background-repeat: no-repeat;  
    background-attachment: fixed ;
}

.ihatemyself {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}